.modal-header {
    background-color: #FF7665;
}

.btn-success {
    color: #000;
    background-color: #CBCBCB;
    border: none;
}
 .btn-warning{
    background: #e14734;
    border:none;
}
.btn-warning:hover{
    background-color: #FF7665;

}