body{
    background-color: #E5E5E5;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
}
.sair{
    font-size: 35px;
    color: black;
    margin-left: 245px;
}
.sair:hover{
    color: gray;
}
.figure-caption {
    font-size: 114%;
    color: #000000;
    font-weight: bold;
}

figcaption.legenda-usuarios{
    position: relative;
    left: 208px;
    top: 50px;
}

figcaption.legenda-pecas{
    position: relative;
    left: 205px;
    top: 50px;
}

figcaption.legenda-orcamentos{
    position: relative;
    left: 69px;
    margin-top: 58px;
}


figcaption.legenda-clientes{
    position: relative;
    left: -60px;
    top: 50px;
}

figcaption.legenda-veiculos{
    position: relative;
    left: -5px;
    top: 50px;
}

.imagem-usuarios a img{
    top: 61px;
    position: relative;
    width: 189px;
    left: 81px;
}
.imagem-pecas a img{
   top: 95px;
   position: relative;
   width: 165px;
   
   left: 87px;
}
.imagem-orcamentos a img{
   top: 63px;
   position: relative;
   width: 149px;

   left: 135px;
}
.imagem-clientes a img{
    top: 54px;
    position: relative;
    width: 169px;  
    left: -60px;
}
.imagem-veiculos a img{
     top: 23px;
     position: relative;
     width: 257px;
   
     left: 45px;
}