main h1{
    width: 940px;
    margin: 2em auto;
    font-size: 50px;
    
}
#tarefas{
    margin-top: 30px;
}
.tarefas li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 60px 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    margin-bottom: 2em;
}
#clienteborder{
    margin-left: 223px;
}

.tarefa-descricao{
    font-size: 20px;
    
}
