body{
    background-color: #E5E5E5;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
}
.sair{
    font-size: 35px;
    color: black;
    margin-left: 245px;
}
.sair:hover{
    color: gray;
}
.figure-caption {
    font-size: 114%;
    color: #000000;
    font-weight: bold;
}
.imagem-usuarios img{
    width: 47%;
    position: relative;
    margin-top: 2%;
}
figcaption.leg-usuarios{
    margin-top: 6%;
}
.imagem-clientes img{
    position: relative;
    width: 70%;
    margin-top: 16%;
    left: -4%;
}


figcaption.leg-clientes{
    margin-top: -1%;
    left: -9%;
    position: relative;
}
.imagem-veiculos img{
    width: 109%;
    margin-top: -3%;
    left: 2%;
    position: relative;
}

figcaption.leg-veiculos{
    margin-top: -17%;
    position: relative;
    left: 5%;
}
.imagem-pecas img{
    position: relative;
    width: 62%;
    margin-top: 16%;
    left: 12%;
}
figcaption.leg-pecas{
    margin-top: 7%;
    position: relative;
    left: 9%;
}
.imagem-orcamentos img{
    position: relative;
    width: 51%;
    margin-top: 22%;
    left: 4%;
}
figcaption.leg-orcamentos{
    margin-top: 4%;
    position: relative;
    left: -3%;
}
