.btn-danger{
    background: #e14734;
    box-shadow: 5px 5px #b5aeae;
    border-radius: 0px;
    color: black;
}
.btn-danger:hover{
    background: #a92818;
    box-shadow: 5px 5px #b5aeae;
    border-radius: 0px
}
.campos{
    background: #808781;
    border: 2px solid;
}
.header-veiculo{
   margin-bottom: 30px;
}
.container{
    padding: 10px 10px 10px 10px;
}
