h1{
    margin-bottom: 10px;
}
#area
{
    
  position:relative;
  left:37%;
  top:29%;
  width:320px;
  height:270px;
}
.formulario{
    
    position:absolute;
  display:block;
}
.formulario input
{

  left:95px;
  top:23px;
  width:600px;
}

fieldset
{

    
  width:300px;
  height:250px;
}
legend
{
  font-style:bold;
  font-family: “Segoe UI”,”Arial”,”Times New Roman”;
}
label{
    
  left:19px;
  margin-right:5px;
    display: block;
    margin-top: 10px;
}

#salvar{
    margin-top: 10px;
}