.campos-input{
    margin-bottom: 10px;
}
body{
    background: #e5e5e5;
}
.btn-danger{
    background: #e14734;
    box-shadow: 5px 5px #b5aeae;
    border-radius: 0px;
    color: black;
}
.btn-danger:hover{
    background: #a92818;
    box-shadow: 5px 5px #b5aeae;
    border-radius: 0px
}

.ordem-servico{
    display: none;
}

@media print {
    header, .option, .orcamento{
        display: none;
    }
    .novo-orcamento{
        display: none;
    }
    .ordem-servico{
        display: block;
    }
}